<p style="color: green"><%= notice %></p>

<h1>Operations</h1>

<%= form_with url: filter_operations_path, method: :get do |form| %>
  <%= form.label :category_id, 'Категория' %>
  <%= form.collection_select :category_id, Category.all, :id, :name %>
  <%= form.submit 'Фильтр' %>
<% end %>

<div id="operations">
<%=render "operations/operations", operation: @operation%>
</div>

<%= link_to "New operation", new_operation_path %>
